<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Load Properties file into Spring Context -->
	<context:property-placeholder
		location="classpath:sport.properties" />

	<bean id="myLoggerConfig" class="com.springdemo.MyLoggerConfig"
		init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>

	<bean id="randomFortune"
		class="com.springdemo.RandomFortuneServiceImpl">
	</bean>

	<bean id="myGolfCoachUsedInMain" class="com.springdemo.GolfCoach">
		<constructor-arg ref="randomFortune" />
	</bean>

	<bean id="randomFortune2"
		class="com.springdemo.RandomFortuneServiceImpl">
	</bean>

	<bean id="myGolfCoachUsedInMain2" class="com.springdemo.GolfCoach">
		<property name="fortuneService" ref="randomFortune2" />
	</bean>

</beans>





